
/shelf/
/workspace.xml
\*.iml
/.idea
/tmp

!/pcs-final-diplom/src/
!/pcs-final-diplom/pom.xml
pcs-final-diplom/.idea/
pcs-final-diplom/out/
pcs-final-diplom/target/

!/src/
!/pom.xml
.idea/
out/
target/